$desktop:1280px;

@mixin desktop {
    @media only screen and (min-width: $desktop){
        @content;
    }
}

.text {
    color: white;
    font-family:'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif ;
    font-size:0.9rem;
    margin-left: 2vw;
    @include desktop {
        font-size: 1.5rem;
    }
}

.docu {
    display: flex;
    flex-wrap: wrap;

    div {
        margin-left: 5px;


        img {
            width: 75vw;
            @include desktop {
                width: 18vw;
            }
            cursor: pointer;
            
        }
    }


}

.zoom {
    transition: .2s;

    &:hover {
        transform: scale(1.5);
    }
}