$desktop:1280px;

@mixin desktop {
    @media only screen and (min-width: $desktop){
        @content;
    }
}

.text {
    color: white;
    font-family:'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif ;
    font-size:0.9rem;
    margin-left: 2vw;
    @include desktop {
        font-size: 1.5rem;
    }
}

.top {
    display: flex;
    flex-wrap: wrap;

    div{
        
        -webkit-text-stroke: 2px rgb(105, 104, 104);
        color: transparent; 
        padding: 0px;
        margin: 0px;

        &::before{
            content:"1";
            font-size: 20vh;
            font-weight: bold;
            margin: 0px;
            font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
            position: relative;
            left: 4vh;
            z-index: 0;
        }

        img {
            height: 15vh ;
            z-index: 3;
            margin:0px;
            cursor: pointer;
        }
    }
}

.one {
    &::before{
        content:"1";
        font-size: 20vh;
        font-weight: bold;
        margin: 0px;
        font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
        position: relative;
        left: 4vh;
        z-index: 1;
    }
}
.two::before{
    content:"2";
    font-size: 20vh;
    font-weight: bold;
    margin: 0px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    position: relative;
    left: 4vh;
    z-index: 1;
}
.three::before{
    content:"3";
    font-size: 20vh;
    font-weight: bold;
    margin: 0px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    position: relative;
    left: 4vh;
    z-index: 1;
}
.four::before{
    content:"4";
    font-size: 20vh;
    font-weight: bold;
    margin: 0px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    position: relative;
    left: 4vh;
    z-index: 1;
}
.five::before{
    content:"5";
    font-size: 20vh;
    font-weight: bold;
    margin: 0px;
    font-family: 'Netflix Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    position: relative;
    left: 4vh;
    z-index: 1;
}

.zoom {
    transition: .2s;

    &:hover {
        transform: scale(1.5);
    }

    
}
